<h1>Edit a Figure</h1>
<h3><%= @figure.name %></h3>
 
<form action="/figures/<%= @figure.id %>" method="POST">
 

  <label>Name: </label><input type="text" name="figure[name]" id="figure_name" required><br>

  <%Landmark.all.each do |l|%>
    <input type="checkbox" name="figure[landmark_ids][]" value="<%=l.id%>" id="landmark_<%=l.id%>"><%= l.name %></input>
  <%end%><br>

  <label>Choose Titles:</label><br>
  <%Title.all.each do |t|%>
    <input type="checkbox" name="figure[title_ids][]" value="<%= t.id %>" id="title_<%= t.id %>"><%= t.name %></input>
  <%end%><br>

  <h3>Create Landmark:</h3>
  <input type="text" name="landmark[name]" id="new_landmark"><br>
  <h3>Create Title:</h3>
  <input type="text" name="title[name]" id="new_title"><br>
 
 
  <input type="submit" value="Edit Figure">
</form>